.header {
  display: flex;
  align-items: center;
  height: 65px;
  color: white;
  padding: 20px;
  position: relative;
  max-width: 950px;
  margin: 0 auto;
}
.header::after {
  content: "";
  background: linear-gradient(90deg, #672280 1.18%, #a626d3 100%);
  position: absolute;
  top: 0;
  left: 50%;
  width: 100vw;
  height: 100%;
  transform: translate(-50%, 0);
  z-index: -1;
}
.header img {
  height: 100%;
  margin-right: 6px;
}
.header h1 {
  font-size: 1.25rem;
  margin-right: auto;
}
.header h4 {
  font-size: 0.75rem;
  font-weight: 500;
}
main {
  padding: 40px;
  max-width: 950px;
  margin: 0 auto;
}
.form {
  display: grid;
  grid-template: 60px 40px / 1fr 1fr;
  width: 100%;
  gap: 20px;
}
.form div {
  width: 100%;
  height: 100%;
}
.form label {
  color: #5a5a5a;
  font-weight: 700;
  display: inline-block;
  width: 100%;
  height: 15px;
  margin-bottom: 5px;
  font-size: 0.9rem;
  text-indent: 5px;
}
.form__input {
  font-family: "Karla", sans-serif;
  border-radius: 5px;
  border: 1px solid #d5d4d8;
  text-indent: 5px;
  width: 100%;
  height: 40px;
}
.form button[type="submit"] {
  grid-column: 1 / -1;
  font-family: "Karla", sans-serif;
  background: linear-gradient(90.41deg, #711f8d 1.14%, #a818da 100%);
  color: white;
  border: none;
  cursor: pointer;
  height: 50px;
  border-radius: 10px;
  margin: 0 auto;
  padding: 0 50px;
  transition: all 0.5s;
}
.form button[type="submit"]:hover {
  background: linear-gradient(-90.41deg, #711f8d 1.14%, #a818da 100%);
  transform: scale(120%);
}
